body {
    text-align: center;
    font-family: 'Dokdo', system-ui;
    background-color: rgb(17, 17, 17);
    color: rgb(172, 8, 8);
    padding: 100px;
}

header {
    font-weight: bolder;
    font-size: xx-large;
    animation: bounce 3s infinite;
}

form {
    border-style: dashed;
    border-radius: 20px;
    border-width: 5px;
    border-color: darkred;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    padding: 100px;
}

input[type="text"]:focus {
    border:1px solid #D6D9DC;
    outline: 0;
    box-shadow: 0 4px 8px 0 rgba(95, 0, 0, 0.8), 0 6px 20px 0 rgba(186, 0, 0, 0.5);
    animation: color 3s infinite;
}

@keyframes bounce {
    
    0%, 50%, 100% {
        transform: translateY(10px);
    }
    25%, 75% {
        transform: translateY(0px);
    }
}

@keyframes color {
    
    0%, 50%, 100% {
        color: darkred;
    }
    25%, 75% {
        color: rgb(76, 15, 15);
    }
}