body {
    background-color: rgb(13, 13, 13);
    color: aliceblue;
    /* overflow-y: hidden; */
    font-family: "Figtree", sans-serif;
}

header {
    margin-left: 20px;
}

/* style main playlists and side columns*/
#interact {
    display: flex;
    gap: 100px;
    max-height: 600px;
}

/* side column */
#menu {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    gap: 10px;
}

img {
    border-radius: 10px;
}

#menu:hover {
    overflow-y: scroll;
}

/* buttons */
#left, #right {
    height: 50px;
    width: 50px;
    font-weight: bolder;
    font-size: xx-large;
    border-radius: 50px;
    border-style: none;
    position: relative;
    top: 250px;
    background-color:rgb(28, 28, 28);
    color: aliceblue;
}

button {
    border-radius:10px ;
    border-style: none;
    background-color:rgb(28, 28, 28);
}

button:hover {
    cursor: pointer;
    background-color:rgb(31, 31, 31);
    color: rgb(219, 228, 235);
}

/* interactable playlists */
#playlists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    border-radius: 20px;
    background-color: rgb(16, 16, 16);
    border-width: 100px;
    padding: 20px;
    max-height: 400px;
    margin-top: 50px;
}

/* main playlists */
#playlist1, #playlist2, #playlist3, #playlist4 {
    border-radius: 20px;
    background-color: rgb(20, 20, 20);
    border-width: 100px;
    padding: 20px;
    max-height: 350px;
    max-width: 200px;
}

/* sound bar */
#bar {
    position: fixed;
    bottom: 1px;
    background-color: rgb(20, 20, 20);
    border-style: none;
    left: 425px;
}

/* overlay */
.hidden {
    display: none;
}

.showing {
    display: block;
}

::-webkit-scrollbar{
    width: 0px;
}

.overlay{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 145vh;
}

/* overlay close button */
#close1, #close2, #close3, #close4 {
    height: 50px;
    width: 40px;
    font-weight: bolder;
    font-size: xx-large;
    border-radius: 78px;
    border-style: none;
    background-color:rgb(28, 28, 28);
    color: aliceblue;
}

/* playlist overlay */
#overlay1, #overlay2, #overlay3, #overlay4 {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    width: 900px;
    height: 500px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

/* playlist overlay positioning */
#title {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

#top {
    display: flex;
    padding: 20px;
    align-content: space-around;
    gap: 200px;
}

/* songs in playlist overlay */
#list {
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 100px;
    background-color: rgb(16, 16, 16);
}

/* starting color moods */
#mood {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 500px;
    gap: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

/* start screen */
#start {
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    padding-top: 50px;
}

/* sound bar */
#play {
    display: flex;
    gap: 85px;
}

/* individual song ui */
#mood1, #mood2, #mood3, #mood4 {
    color: black;
    padding: 20px;
    margin-left: 450px;
    position: relative;
    top: 50px;
    margin: auto;
    max-width: 350px;
    background-color: rgb(22, 22, 91);
    border-radius: 20px;
}

/* background color for song ui */
#mood2 {
    background-color: rgb(58, 89, 57);
}

#mood3 {
    background-color: rgb(91, 22, 32);
}

#mood4 {
    background-color: rgb(96, 143, 148);
}

/* sound bar */
#forward, #back, #pause{
    cursor: pointer;
}

#forward:hover, #back:hover, #pause:hover {
    opacity: 50%;
}

/* button to leave song ui */
#escape1, #escape2, #escape3, #escape4 {
    border-radius: 40px;
    height: 40px;
    width: 40px;
    font-weight: bolder;
    font-size: xx-large;
    background-color: rgba(0, 0, 0, 0.2);
}





